body{
background-image:conic-gradient(black,#28282b,#343434,#1b1212,#36454f);
}
.box{
border:1px solid black;
width:70%;
height:auto;
color:black;

text-align:center;
background:#c0c0c0;
margin-left:16%;
margin-top:4%;
border-radius:15px 15px 0px 0px;
}
h1{
font-size:45px;
font-family:arial;
text-align:center;
}
table{
table-layout:auto;
width:100%;
box-shadow:1px 1px 1px black;

}
td,th{

border:0px inset black;
font-size:24px;
text-align:center;
box-shadow:1px 1px 1px white;
}
tr:nth-child(odd){
background-color:#808080;
color:white;
}

table tr:nth-child(14)
td:nth-last-child(-n+3){
background:#1b1212;
color:white;
}	